/* CSS code to build calculator */

h2 {
    text-align: center;
    margin-bottom: 80px;
}

.container {
    width: 700px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(167, 100, 12);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}

.display {
    width: 92%;
    height: 60px;
    font-size: 36px;
    text-align: right;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;

}

.btn-container {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    border: 2px solid black;
    padding: 15px 10px;

}

.btn-container .btn {
    width: 22%;
    height: 60px;
    font-size: 24px;
    border: 4px solid black;
    border-radius: 5px;
    background-color: #e6e6e6;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container .btn.primary-operator-btn {
    background-color: #ffcc00;
}

.btn-container .btn.memory-btn {
    background-color: rgb(68, 5, 5);
    color:white;
}

.btn-container .number-dec-unary-btn {
    background-color: brown;
    color: white;
}

